* {
    background-color:  rgb(207, 134, 164);;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
    font-size: small;
    color: rgb(155, 102, 168);

}

body {
    display: flex;
    background-color:   rgb(207, 134, 164);
}

#zona__logo {
    width: 8vw;
    height: 100vh;
}

.Informacion{
    text-align: center;
}

/* AREA DE ENTRADA */

#entrada {
    background-color:  rgb(207, 134, 164);
    box-sizing: content-box;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

#input {
    background-image: url(/imagenes/StTN.gif);
    background-position: center;
    background-size: cover;
    background-color:  rgb(248, 169, 208);
    font-family: "Shadows Into Light", cursive;
    color: aqua;
    font-size: medium;
    text-align: center;
    width: 75%;
    height: 80%;
    border: 10px solid  rgb(155, 102, 168);
    padding: 1vw;
}

#input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

}

.entrada__area-botones {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.entrada__area-botones--boton {
    background-color: rgb(239, 229, 174);
    color: rgb(155, 102, 168);
    border: 5px solid rgb(155, 102, 168);
    border-style:outset;
    width: 18vw;
    padding: 1vh;
    transition: border-color 0.3s ease;
    font-size: 2rem;
    cursor: pointer;
}

.entrada__area-botones--boton:hover {
    border-color: #ffffff;


    /* AREA DE SALIDA */
}

#salida {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: vh;
}

#output {
    background-image: url(/imagenes/14Sj.gif);
    background-position: top;
    background-repeat: no repeat;
    background-size: cover;
    color: aqua;
    text-align: center;
    font-size: medium;
    width: 60%;
    height: 70%;

   
}

.salida__area-botones--boton {
    background-color: rgb(239, 229, 174);
    color: rgb(155, 102, 168);
    border: 5px solid rgb(155, 102, 168);
    border-style:outset;
    width: 10vw;
    padding: 1vh;
    font-size: 2rem;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.salida__area-botones--boton:hover {
    border-color: #ffffff;
}