* {
    background-color:  rgb(207, 134, 164);;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
    font-size: 1rem;
    color: #ffffff; 
}

body {
    background-color:   rgb(207, 134, 164);
    font-size: 1rem;
    
}

#zona__logo {
    max-width: 100%;
    height: auto;
}

/* AREA DE ENTRADA */

.entrada {
    background-color:  rgb(207, 134, 164);
    box-sizing: content-box;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    display: flex;
}

#input {
    background-image: url(/imagenes/StTN.gif);
    background-position: center;
    background-size: cover;
    font-family: "Shadows Into Light", cursive;
    width: 100%;
    height: 40%;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: center;
    border: 10px solid  #ffffff; 
    border-style: outset;
    padding: 1vw;
    display: flex;
}

#input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

}

.entrada__area-botones {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.entrada__area-botones--boton {
    background-color: rgb(239, 229, 174);
    color: rgb(155, 102, 168);
    border: 5px solid #ffffff; 
    border-style:outset;
    padding: 1vh;
    font-size: 1.5rem;
    cursor: pointer;
    gap:1px;
}

.entrada__area-botones--boton:hover {
    border-color: rgb(155, 102, 168);


    /* AREA DE SALIDA */
}

.salida {
    background-color:  rgb(207, 134, 164);
    box-sizing:border-box;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    display: flex;
}

.output_{
    background-image: url(imagenes/XZ5V.gif);
    font-family: "Shadows Into Light", cursive;
    width: 100%;
    height: 40%;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 1vw;
    display: flex;
}

.pusheen{
    width: 160px;
    height: 140px;
}


.salida__area-botones--boton {
    background-color: rgb(239, 229, 174);
    color: rgb(155, 102, 168);
    border: 5px solid #ffffff; 
    border-style:outset;
    padding: 1vh;
    font-size: 1.5rem;
    cursor: pointer;
}

.salida__area-botones--boton:hover {
    border-color: rgb(155, 102, 168);
}

.Informacion{
    background-color: rgb(8, 41, 79);
    border-color: black;
    color: #ffffff;
    text-align: center;
}   



/* Responsividad*/

@media (min-width: 480px) {
    .wraper {
        display: flex;
        flex-direction: row;
        padding: 10%;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .wraper {
        display: flex;
        flex-direction: row;
        padding: 10%;
        justify-content: space-between;
    }
}
